.album {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.polaroid {
    width: 20%;
    min-width: 15rem;
    height: auto;
    background: #ffffff;
    display: inline-block;
    margin: 1rem;
    padding: 1rem 0.5rem;
    border: 1px solid black;
    text-align: start;
    color: black;
}
.polaroid .pic {
    width: 95%;
    height: auto;
    margin: auto;
}
.location {
    font-size: 2rem;
    padding: 0rem 0.5rem;
}
.description {
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
}
.username {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: right;
}
.useravatar {
    width: auto;
    height: 2rem;
    border-radius: 50%;
    align-self: center;
}
.inlinepics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}
.navIcon {
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
}
.navIcon:hover {
    cursor: pointer;
}
.searchform {
    background-color: rgba(41, 41, 41, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: -1rem 0rem;
}
.searchform--child {
    margin: 1rem 0.5rem;
}
.msg{
    background-color: white;
    color: green;
    text-align: center;
}