.polaroid {
    width: 20%;
    height: auto;
    background: #ffffff;
    display: inline-block;
    margin: 1rem 2rem;
    padding: 2rem 1rem;
    border: 1px solid black;
    text-align: center;
}
.polaroid img {
    width: 90%;
    height: auto;
    margin: auto;
}
.polaroid p {
    color: black;
}