.App {
  margin: auto;
  min-height: 68vh;
}
.card {
  margin: 2% auto 0%;
  max-width: 50rem;
  min-width: 10%;
  max-height: 30%;
  color: #000;
  background-color: rgba(233, 230, 230, 0.95);
  border-radius: 1rem;
  padding: 0.5rem;
}
.card h1 {
  text-align: center;
}
.childcard {
  margin: 2% auto 2%;
  max-width: 20rem;
  min-width: 10%;
  max-height: 30%;
  color: #000;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}
.childcard:hover {
  margin: 2% auto 2%;
  max-width: 20rem;
  min-width: 10%;
  max-height: 30%;
  color: white;
  background-color: black;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.form input {
  background-color: #fff;
  margin: 0.25rem 0rem;
  width: 10rem;
} 
.form label {
  margin: 0.5rem 0rem 0rem 0rem;
}
.form button {
  font-size: 1rem;
  background-color: #fff;
  width: 10rem;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}
.form .btnfile {
  font-size: 0.95rem;
  background-color: #fff;
  width: 10rem;
  border-radius: 0rem;
  margin: 1rem auto;
  padding: 0rem 0.5rem;
}
.imghome {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inline {
  /*margin: auto;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.inlinepics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
}
.inlinebutton {
  margin: auto;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.msg{
  color: green;
  background-color: rgba(233, 230, 230, 0.95)
}
.error{
  color: red;
  background-color: rgba(233, 230, 230, 0.95)
}
.msginfo{
  color: black;
  background-color: rgba(233, 230, 230, 0.95);
  width: 100%;
  text-align: center;
}
.btn{
  font-size: 0.95rem;
  background-color: #fff;
  width: 10rem;
  border-radius: 0rem;
  margin: 1rem auto;
  padding: 0.5rem;
  cursor:pointer;
}
