@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Oswald', sans-serif;
  padding: 0rem;
  margin: 0rem;
}

body {
  margin: 0;
  font-size: 1.5em;
  /*text-align: center; */
  color: #fff;
  background-image: url("./img/drapeau.svg");  
  background-size: cover;
}